{% extends 'admin/adminbase.html.twig' %}

{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <!-- Page Title Header Starts-->
            <div class="row page-title-header">
                <div class="col-12">
                    <div class="page-header" style="display:flex;align-items:center;">
                        {% if app.user.pdp != '' %}
                            <img
                                src="{{ app.user.pdp }}"
                                style="height:60px; width:60px; border-radius:100px; margin:0 auto;">
                        {% else %}
                            <span
                                class="img-sm rounded-circle text-white text-avatar"
                                style="background-color:#D63F27; height:60px; width:70px; margin:0 auto;">{{ app.user.nom|first|upper}}{{ app.user.prenom|first|upper }}</span>
                        {% endif %}
                        <h4 class="page-title">&nbsp;{{ app.user.nom }}&nbsp;{{ app.user.prenom }}</h4>
                        <div class="quick-link-wrapper w-100 d-md-flex flex-md-wrap"></div>
                    </div>
                </div>
            </div>
            <a href="{{ path('perso', { 'id': app.user.id }) }}">
            <input
                type="button"
                value="Retour aux messages"
                class="btn btn-danger btn-fw"></a> 
                
                <a href="{{ path('respond', { 'id': message.id }) }}">
            <input
                type="button"
                value="Répondre"
                class="btn btn-danger btn-fw"></a>

                <br><br>
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body d-flex flex-column">
                            <div class="wrapper">
                                <h4 class="card-title mb-0">{{ message.objet }}</h4><br>
                                <div class="mb-4" id="net-profit-legend" style="font-size:12px !important;">
                                
                                {% if message.exp.pdp != '' %}
                            <center><img
                                src="{{ message.exp.pdp }}"
                                style="height:43px; width:43px; border-radius:100px; margin:0 auto;"></center>
                        {% else %}
                            <span
                                class="img-sm rounded-circle text-white text-avatar"
                                style="background-color:#D63F27; margin:0 auto;">{{ message.exp.nom|first|upper}}{{ message.exp.prenom|first|upper }}</span>
                        {% endif %}

                                <center>Par {{ message.exp.nom }} {{ message.exp.prenom }} le {{ message.date|date("d/m/Y") }}</center></div>
                            </div>
                            <div style="text-align:justify;">{{ message.content }}</div>
                            </div>
                    </div>
                </div>

            </div>
        </div>
    {% endblock %}